# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo


# package
/packages/*

# SVN으로 관리 (나중에)
#/ThirdParty/*

#imgui 위치 저장 데이터
Client/imgui.ini

#vcpkg
/vcpkg_installed

/Assets/Scenes/PlayMode_Backup.scene


/Assets/Models/*

*.ini
*.aps
*.rc

.vs

*.cso
*.cso.meta

# temporary files




*x64
enc_temp_folder/
